<!DOCTYPE html>
<html lang='en'>

<style>
    /* index.html */

    body {
        background-color: antiquewhite;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    h2 {
        margin: 0;
    }

    input {
        width: min-content;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #startBtn {
        background-color: green;
        color: white;
    }

    #resetBtn {
        background-color: yellow;
    }

    #endBtn {
        background-color: red;
        color: white;
    }

    button {
        height: 60px;
        width: 120px;
    }

    button:hover {
        scale: 1.05;
        transition: size 0.2s;
    }
</style>

<body>

    <div class='root'>
        <div class='container'>
            <h1 class='title'>MEMORY TEST</h1>
            <h2>Player 1 Score: <input id='player1_score' value='' readonly /></h2>
            <h2>Player 2 Score : <input id='player2_score' value='' readonly /></h2>
            <h2>Game State : <input id='game-state' value='Not Connected' readonly /></h2>
            <h1>Timer: <input id='timer' type="number" value='' readonly /></h1>

            <div id="content-box" class='content-box'>
                <h1>Pick a difficulty (Then click the 'Start the game' button) :</h1>
                <input id='difficulty1' type="button" value="Easy">
                <input id='difficulty2' type="button" value="Normal">
                <input id='difficulty3' type="button" value="Hard">
            </div>

            <div class='buttons'>
                <button id='startBtn' onclick='setGameState("start")'>Start the game</button>
                <button id='startBtn1' onclick='setGameState("player1_ready")'>Player 1 Ready Up</button>
                <button id='startBtn2' onclick='setGameState("player2_ready")'>Player 2 Ready Up</button>
                <button id='resetBtn' onclick='setGameState("restart")'>Restart / Debug</button>
                <button id='endBtn' onclick='setGameState("end")'>End the game</button>
            </div>
        </div>
    </div>
</body>

<script>
    // fetch (score, round et game_state)
    const player1_score = document.getElementById('player1_score');
    const player2_score = document.getElementById('player2_score');
    const game_state = document.getElementById('game-state');
    const timer = document.getElementById('timer');

    // setGameState
    const difficulty1 = document.getElementById('difficulty1');
    const difficulty2 = document.getElementById('difficulty2');
    const difficulty3 = document.getElementById('difficulty3');
    difficulty1.addEventListener('click', function () {
        difficulty = difficulty1.value;
    });
    difficulty2.addEventListener('click', function () {
        difficulty = difficulty2.value;
    });
    difficulty3.addEventListener('click', function () {
        difficulty = difficulty3.value;
    });
    let difficulty = 'Easy';

    // Manage game_state
    setInterval(() => {
        if (game_state.value == 'Connected') {
            document.getElementById('startBtn').style.display = 'block';
            document.getElementById('content-box').style.display = 'block';
            document.getElementById('resetBtn').style.display = 'none';
            document.getElementById('endBtn').style.display = 'none';
        }
        else if (game_state.value == 'Game Started') {
            document.getElementById('startBtn').style.display = 'none';
            document.getElementById('content-box').style.display = 'none';
            document.getElementById('resetBtn').style.display = 'block';
            document.getElementById('endBtn').style.display = 'block';
        }
        else {
            document.getElementById('startBtn').style.display = 'none';
            document.getElementById('content-box').style.display = 'none';
            document.getElementById('resetBtn').style.display = 'none';
            document.getElementById('endBtn').style.display = 'none';
        }
    }, 1000);


    
    const getValues = setInterval(() => {
        fetch('http://127.0.0.1:5000/api/get_game_state')
            .then(res => res.json())
            .then(data => {
                game_state.value = data['game_state'];
                player1_score.value = data['player1_score'];
                player2_score.value = data['player2_score'];
                timer.value = data['timer'];
        })
            .catch(err => {
                console.error('Erreur de synchronisation (get_game_state)');
                game_state.value = 'Not Connected';
            });
    }, 1000);



    async function setGameState(state) {
        try {
            const response = await fetch('http://127.0.0.1:5000/api/set_game_state', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'game_state': state, 'difficulty': difficulty })
            });
            const data = await response.json();
            if (!data.ok) {
                game_state.value = data['game_state'];
            } else {
                game_state.value = 'Not Connected';
                console.error('Erreur de synchronisation (set_game_state)')
            }
        } catch (err) {
            console.error(err);
        }
    }
</script>

</html>