<!DOCTYPE html>
<html lang='en'>

<style>
    /* matrix.html */

    #matrix-root {
        display: none;
    }

    .matrix-grid {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content;
        border-radius: 8px;
        justify-content: center;
    }

    .matrix-grid .row {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 10px 10px;
        border: 3px solid black;
        transition: 0.3s;
        background-color: grey;
    }

    /* index.html */

    body {
        background-color: antiquewhite;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    h2 {
        margin: 0;
    }

    input {
        width: min-content;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #startBtn {
        background-color: green;
        color: white;
    }

    #resetBtn {
        background-color: yellow;
    }

    #endBtn {
        background-color: red;
        color: white;
    }

    button {
        height: 60px;
        width: 120px;
    }

    button:hover {
        scale: 1.05;
        transition: size 0.2s;
    }
</style>

<body>

    <div class='root'>
        <div class='container'>
            <h1 class='title'>MEMORY TEST</h1>
            <h2>Score : <input id='score' value='0' readonly /></h2>
            <h2>Game State : <input id='game-state' value='Connected' readonly /></h2> <!-- default value is 'Not Connected' -->

            <div id="content-box" class='content-box'>
                <h1>Pick a difficulty (Then click the 'Start the game' button) :</h1>
                <input id='difficulty1' type="button" value="Easy">
                <input id='difficulty2' type="button" value="Medium">
                <input id='difficulty3' type="button" value="Hard">
            </div>

            <div class='buttons'>
                <button id='startBtn' onclick='setGameState("start")'>Start the game</button>
                <button id='resetBtn' onclick='setGameState("restart")'>Restart / Debug</button>
                <button id='endBtn' onclick='setGameState("end")'>End the game</button>
            </div>

            <div id='matrix-root'>
                <h2>You can draw on the matrix just by clicking on the circles</h2>
                <div class='matrix-grid'>
                    <div class='col'>
                        <div class='row' id='0x0'></div>
                        <div class='row' id='0x1'></div>
                        <div class='row' id='0x2'></div>
                        <div class='row' id='0x3'></div>
                        <div class='row' id='0x4'></div>
                        <div class='row' id='0x5'></div>
                        <div class='row' id='0x6'></div>
                        <div class='row' id='0x7'></div>
                    </div>
                    <div class='col'>
                        <div class='row' id='1x0'></div>
                        <div class='row' id='1x1'></div>
                        <div class='row' id='1x2'></div>
                        <div class='row' id='1x3'></div>
                        <div class='row' id='1x4'></div>
                        <div class='row' id='1x5'></div>
                        <div class='row' id='1x6'></div>
                        <div class='row' id='1x7'></div>
                    </div>
                    <div class='col'>
                        <div class='row' id='2x0'></div>
                        <div class='row' id='2x1'></div>
                        <div class='row' id='2x2'></div>
                        <div class='row' id='2x3'></div>
                        <div class='row' id='2x4'></div>
                        <div class='row' id='2x5'></div>
                        <div class='row' id='2x6'></div>
                        <div class='row' id='2x7'></div>
                    </div>
                    <div class='col'>
                        <div class='row' id='3x0'></div>
                        <div class='row' id='3x1'></div>
                        <div class='row' id='3x2'></div>
                        <div class='row' id='3x3'></div>
                        <div class='row' id='3x4'></div>
                        <div class='row' id='3x5'></div>
                        <div class='row' id='3x6'></div>
                        <div class='row' id='3x7'></div>
                    </div>
                    <div class='col'>
                        <div class='row' id='4x0'></div>
                        <div class='row' id='4x1'></div>
                        <div class='row' id='4x2'></div>
                        <div class='row' id='4x3'></div>
                        <div class='row' id='4x4'></div>
                        <div class='row' id='4x5'></div>
                        <div class='row' id='4x6'></div>
                        <div class='row' id='4x7'></div>
                    </div>
                    <div class='col'>
                        <div class='row' id='5x0'></div>
                        <div class='row' id='5x1'></div>
                        <div class='row' id='5x2'></div>
                        <div class='row' id='5x3'></div>
                        <div class='row' id='5x4'></div>
                        <div class='row' id='5x5'></div>
                        <div class='row' id='5x6'></div>
                        <div class='row' id='5x7'></div>
                    </div>
                    <div class='col'>
                        <div class='row' id='6x0'></div>
                        <div class='row' id='6x1'></div>
                        <div class='row' id='6x2'></div>
                        <div class='row' id='6x3'></div>
                        <div class='row' id='6x4'></div>
                        <div class='row' id='6x5'></div>
                        <div class='row' id='6x6'></div>
                        <div class='row' id='6x7'></div>
                    </div>
                    <div class='col'>
                        <div class='row' id='7x0'></div>
                        <div class='row' id='7x1'></div>
                        <div class='row' id='7x2'></div>
                        <div class='row' id='7x3'></div>
                        <div class='row' id='7x4'></div>
                        <div class='row' id='7x5'></div>
                        <div class='row' id='7x6'></div>
                        <div class='row' id='7x7'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // fetch (score, round et game_state)
    const score = document.getElementById('score');
    const game_state = document.getElementById('game-state');

    // setGameState
    const difficulty1 = document.getElementById('difficulty1');
    const difficulty2 = document.getElementById('difficulty2');
    const difficulty3 = document.getElementById('difficulty3');
    difficulty1.addEventListener('click', function () {
        difficulty = difficulty1.value;
    });
    difficulty2.addEventListener('click', function () {
        difficulty = difficulty2.value;
    });
    difficulty3.addEventListener('click', function () {
        difficulty = difficulty3.value;
    });
    let difficulty = 'Easy';

    // setMatrix (add event listerner to each 'button' of the 'matrix')
    const cols = document.querySelectorAll('.col');
    let led_position = '';
    cols.forEach((col, columnIndex) => {
        const rows = col.querySelectorAll('.row');
        rows.forEach((row, rowIndex) => {
            row.addEventListener('click', function () {
                led_position = row.id;
                setMatrix();
            });
        });
    });

    // Manage game_state
    if (game_state.value == 'Connected') {
        document.getElementById('matrix-root').style.display = 'initial';
    }
    else if (game_state.value == 'Game Started') {
        document.getElementById('startBtn').style.display = 'none';
        document.getElementById('content-box').style.display = 'none';
        
        // fetch (score, round et game_state)
        setInterval(() => {
            fetch('http://192.168.4.1:5000/api/get_game_state')
                .then(res => res.json())
                .then(data => {

                    score.value = data.score;
                    game_state.value = data.state;
            })
                .catch(err => console.error('Erreur de synchronisation'));
        }, 1000);
    } 
    else {
        document.getElementById('startBtn').style.display = 'initial';
        document.getElementById('matrix-root').style.display = 'none';
    }

    async function setGameState(game_state) {
        try {
            const res = await fetch('http://192.168.4.1:5000/api/set_game_state', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'game_state': game_state, 'difficulty': difficulty })
            });
            var data = res.json();
            if (data.ok) {
                try {
                    // console.warn('[TEST LOG] : ', data['1']);
                    console.log(data);
                } catch (err) {
                    console.error(err);
                }
            } else {
                console.error('Erreur de synchronisation');
            }

        } catch (err) {
            console.error(err);
        }
    }

    async function setMatrix() {
        try {
            const res = await fetch('http://192.168.4.1:5000/api/set_matrix', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'id': 'matrix_01', 'led_position': led_position })
            });

            var data = res.json();
            if (data.ok) {
                if (data.led_state == 'ON') {
                    document.getElementById(`${data.led_position}`).style.backgroundColor = 'red';
                } else {
                    document.getElementById(`${data.led_position}`).style.backgroundColor = 'grey';
                }
            } else {
                console.error('Erreur de synchronisation');
            }

        } catch (err) {
            console.error(err);
        }
    }
</script>

</html>